

.container{
    width: 200px;
    height: 360px;
    /* background-color: pink; */
    /* background: url('./背景.webp') no-repeat; */
    /* background: rgb(119,119,119); */
    /* background-image: linear-gradient(to bottom right, #928fb7 , #f0c8d6); */
    background-color: aliceblue;
    background-size: 200px 360px;
    border: 1px solid black;

    margin-left: 550px;
    margin-top: 100px;

    position: relative;
}

.inside{
    width: 20px;
    height: 20px;
    background: url(./picture/华夫饼.jpg) no-repeat;
    background-size: 20px 20px;

    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);

    position: absolute;
}


.grey{
    width: 20px;
    height: 20px;

    background: url(./picture/甜甜圈.jpg) no-repeat;
    background-size: 20px 20px;
    /* background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(5, 160, 250, 0.559); */

    position: absolute;
}

